<%= provide(:title, 'Contact') %>

<div class="container">
  <div class="row">
    <div><%= safe_image_tag("rails.png", alt: "Avatar", class: "gravatar", size: "72x72") %></div>
    <div>

        <%= form_tag search_path, :class => 'navbar-search pull-left' do %>
          <%= search_field_tag :findopuss, params[:findopuss], :class=> "search-query span2"%>
        <% end %>

    </div>
  </div>
</div>

<h1>Contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

