@import 'bootstrap';
@import "bootstrap-responsive";

.container {
    &.inner {
      padding:15px; 
    }
}

.opussbox {
    padding:15px; 
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);

    &.bottombit {
      background: #faf8e3;
      border-bottom-left-radius:6px;
      -moz-border-radius-bottomleft: 6px;
      -webkit-border-radius-bottomleft: 6px;
      border-bottom-right-radius:6px;
      -moz-border-radius-bottomright:6px;
      -webkit-border-radius-bottomright: 6px;
    }


    &.headbit {
    background: rgba(250,248,247,.095);
    margin-top:20px;
    border-top-left-radius:6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-radius-topleft: 6px;
    border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    -webkit-border-radius-topright: 6px;

    }

}



.profilecontainer {
  background: #faf8e3;
  padding:15px; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.avatarfeed {
    border: 4px solid #e1e1e8;
    &.mini {
    border: 2px solid #e1e1e8;      
    }
}

body { 
  background: url("bg.jpg") repeat center center fixed; 
}

body {
  padding-top: 60px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.navbar .brand
{
display: block;
padding: 0;
margin-top: 3px;
float:left;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer  ul {
  float: right;
  list-style: none;
}

footer ul li  {
  font-size: 85%;
  float: left;
  margin-left: 10px;
}

/* debugging */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}


.pawbutton {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-left: 0;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("pawbuttonwhite.png");
  background-repeat: no-repeat;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
    padding-top: 20px;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    text-align: center;
}

.affix {
  position: fixed;
  top: 20px;
  left: auto;
  right: auto;
}

.menu {
  background: #ccc;
  width: 200px;
  height: 400px;
  float: left;
}

/* UL Styling for lists and pagination 
--------------------------------------------------*/

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.bio {
      background-color: #f7f7f9;
      padding: 10px;
      margin: 0;
}



.indexfeed {    
  margin: auto;
}

.indexfeedtext {    
    font-family: 'Copse', serif;
    font-size: 1.2em;

    a {
    color: $grayDark;
    }
    
    a:hover { text-decoration: none; 
    }

}



form {
    margin: 0 auto;
  }



.showopuss {
  font-family: 'Copse', serif;
  }

.showdet {
  font-family: 'Copse', serif;
  font-size: 1.4em;
  text-align: center;

  .by {
    font-size: 0.8em;
  }
}

.newsfeed {

  a {
    color: $grayDark;
  }
    
  a:hover { text-decoration: none; 

  }

}

/* Pretty CSS Forms
-------------------------------------------------- */

.opussheight textarea
{
  height: 150px;
  /* width: auto; */
}

.opusscomment textarea
{
  height: 50px;
  /* width: auto; */
}


.opusstitle input
{
  width: auto;
}

input,
textarea,
.uneditable-input {
  width: 100%;
}

/* Error Message Styling
-------------------------------------------------- */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


/* Nagib - Debug.  Trying to add a specific class to this and driving me nuts!
/* WebKit Inspector better than firefox here, but still can't override it.
/* Tried div#ID, a front ended class, nothin.  Without this get a crap load of space of form-horizontal
/* Sorted it.  Multi Class selectors don't work well with a form class. But ok at parent.
-------------------------------------------------- */

.nagib .form-horizontal {

.control-group::before, 
.field_with_errors::before,
.control-group::after, 
.field_with_errors::after {
  content: normal;
}
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-sidenav {
    width: 258px;
  }
  .bs-docs-sidenav > li > a {
    width: 230px \9; /* Override the previous IE8-9 hack */
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 50px;
  }
  .bs-docs-sidenav.affix {
    position: static;   
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }


  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }

  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

}

/* Nagib Test Fixed-Navbar On Mobile
------------------------- */


@media (max-width: 979px) {
 
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;

  }

  body {
    padding-top: 75px;
  }


}

@media (max-width: 980px) {
  .dropdown ul.dropdown-menu {
    display: block;
  }
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: normal;
}
