<h1>Opusses#Index</h1>
<p>Find me in app/views/opusses/index.html.erb</p>
<p> Format later.  Use divs to separate sections for User ID, Avatar, Title and Text box with CSS Overflow property for up to 7 lines that itself is a link to the Opuss permalink.</p>
<ul class="users">
  <% @opusses["data"].each do |opusses| %>
    <li>Opuss ID: <%= opusses["opuss_id"]%> Title: <%= opusses["title"]%> By: <%= opusses["author"]["name"]%> | <%= link_to "Opuss", opuss_path(:id => opusses["opuss_id"]) %></li>
<% end %>
</ul>

