<div class="row">
  <aside class="span4">
    <section>
      <strong><%= @opuss["data"]["title"]%></strong>
      <i> By: <%= @opuss["data"]["author"]["name"]%></i>
      <hr>
      <p><%= @opuss["data"]["opuss"]%></p>
      <hr>
      <strong><i>Bio </i></strong>
      <p><%= @opuss["data"]["author"]["bio"]%></p>
    </section>
  </aside>
</div>
