<h1>Opusses#Show</h1>
<p>Find me in app/views/opusses/show.html.erb</p>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @opuss["data"]["author"]["name"]%>
      </h1>
      <hr>
      <h3> Bio </h3>
      <p><%= @opuss["data"]["author"]["bio"]%></p>
      <hr>
      <h3> Opuss </h3>
      <p><%= @opuss["data"]["opuss"]%></p>
      <hr>
    </section>
  </aside>
</div>
